@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  font-family: "Pretendard" !important;
}

#Modal {
  position: fixed;
  z-index: 10000000;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Modal button {
  background-color: transparent;
  border: none;
}
#Modal .btnCloseBottom {
  display: flex;
  align-items: center;
  opacity: 0.75;
  transition: 0.2s;
}
#Modal .btnCloseBottom:hover {
  opacity: 1;
  transition: 0.2s;
}
#Modal .btnCloseBottom img {
  width: 2rem;
}
#Modal .btnCloseBottom p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 0.25rem;
}
#Modal .modalPlate {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
  margin: 2rem 0 2rem;
}
#Modal .modalPlate img {
  width: 100%;
}
#Modal .modalPlate a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 2.5rem;
}
#Modal .modalPlate a:hover {
  text-decoration: none;
}
#Modal .modalPlate a .btnLink {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  transition: 0.3s;
}
#Modal .modalPlate a .btnLink:hover {
  background-color: #1fb9ee;
  transition: 0.3s;
}
#Modal .modalPlate .btnCloseTop {
  position: absolute;
  width: 80%;
  max-width: 500px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
#Modal .modalPlate .btnCloseTop img {
  width: 3.5rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
  transition: 0.3s;
}
#Modal .modalPlate .btnCloseTop img:hover {
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
  transition: 0.3s;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-right: 9rem;
  }
}
.navbar.metlife .cont .navbar-brand-img {
  max-height: 2.5rem !important;
}

#main {
  background: #000 url(./assets/img/conv_adj3.jpg) no-repeat 50% !important;
}
#main .btn-primary {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3) !important;
}

#main2 {
  background-image: none !important;
  background: linear-gradient(to bottom, transparent 16px, #f8f8f8 16px) 0 0/100% 17px repeat-y, linear-gradient(to right, transparent 16px, #f8f8f8 16px) 0 0/17px 100% repeat-x #ffffff !important;
}
#main2 .deskTemp {
  border-bottom: none;
}
#main2 .index {
  margin-bottom: 0;
}
#main2 .index .badge {
  border-radius: 32px !important;
  color: #fff;
  height: 64px;
  width: 64px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main2 .index .badge .h5 {
  margin-bottom: 0 !important;
  text-align: center !important;
  font-size: 1.5rem !important;
}
#main2 .info {
  background-color: #2b2b2b;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2) !important;
  padding: 3rem;
  transition: 0.2s;
}
#main2 .info h2 {
  color: #a0d702;
}
#main2 .info .text-muted {
  color: rgba(255, 255, 255, 0.75) !important;
}

@media (max-width: 768px) {
  #main2 .deskTemp {
    display: flex;
    justify-content: center !important;
    padding: 0 1.5rem !important;
  }
  #main2 .index {
    margin-bottom: 0.75rem;
  }
  #main2 .info {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem !important;
    padding: 1.5rem 0 1rem 0 !important;
  }
  #main2 .info .list {
    margin: 0 1rem !important;
  }
  #main2 .info .list .col-12 {
    border: 1px solid #a0d702;
    padding: 0 !important;
    border-radius: 0.75rem !important;
    overflow: hidden;
  }
  #main2 .info .list .col-12 label {
    border: none;
    border-left: 1px solid #a0d702;
    border-radius: 0;
    display: flex !important;
    align-items: center !important;
    height: 100%;
    margin: 0 0 0 -1px;
    font-size: 0.75rem;
    line-height: 1.35;
  }
  #main2 .info .list .col-12 label:first-of-type {
    border-left: none;
  }
}/*# sourceMappingURL=custom_prime.css.map */