@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


$pointColor: #a0d702;
$bgColor: #393939;
$bg2Color: #393939;

*{
    font-family: 'Pretendard' !important;
}

.bg-dark {
    // background-color: #272727 !important;
}


body{
    background-color: $bgColor;
    color: #ffffff;
}


#navBar{
    background-color: $bgColor !important;
    border-bottom: none !important;
    color: #ffffff;

    



    &.metlife{
        padding: 2rem 2rem 0rem;
    }

    .navbar-brand {
        background-color: #ffffff;
        padding: 0.75rem 1rem;
        margin-left: 0rem;
        border-radius: 2rem;
        box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1) !important;
        
    }

    

    .nav-link{
        color: rgba(255,255,255,0.5) !important;
        transition: 0.2s;
        &:hover{
            color: rgba(255,255,255,1) !important;
            transition: 0.2s;
        }
    }

    



    

    //////////////////////////////////////////
    @media (max-width: 768px) {
        background-color: #ffffff !important;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1) !important;
        border-radius: 2rem;

        margin: 3rem 2rem 0rem;
        padding: 0 0.5rem;

    

        &.metlife{
            padding: 0rem;
        }

        .navbar-brand {
            background-color: transparent;
            box-shadow: none !important;
            margin-left: 0;
            padding: 0.7rem 0rem 0.85rem 1.25rem;
            img{
                max-height: 2rem !important;
            }
        }


        .navbar-toggler{
            padding: 1rem;
            margin-right: 0.5rem;
        }
        .navbar-collapse{
            *{
                color: #000;
            }
    
            border-radius: 1rem;
            margin-top: 0.5rem;
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color: #000 !important;
                        transition: 0.2s;
                        &:hover{
                            color: $pointColor;
                            transition: 0.2s;
                        }
                    }
                }
            }
            .navbar-btn{
                border-radius: 0.5rem;
            }
        }
    }
}





#main{
    background: #000 url(./assets/img/conv_adj4.jpg) no-repeat 50% !important;  
    margin: 2rem !important;
    margin-top: 1.5rem !important;
    border-radius: 2rem !important;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2) !important;

    h1{
        text-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.2) !important;
        @media (max-width: 768px) {
            font-size: 2.25rem;
        }
    }

    .btn-primary{
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3) !important;
    }
}

#sponsor{
    background-color: white;
    color: #000;
}

#main4{
    color: #000;
    @media (max-width: 768px) {
        margin-bottom: 10rem !important;
    }
}


#Modal{
    position: fixed;
    z-index: 10000000;

    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    button{
        background-color: transparent;
        border: none;
    }

    .btnCloseBottom{
        display: flex;
        align-items: center;
        
        opacity: 0.75;
        transition: 0.2s;

        &:hover{
            opacity: 1;
            transition: 0.2s;  
        }

        img{
            width: 2rem;
        }
        p{
            color: #ffffff;
            font-size: 1.25rem;
            font-weight: bold;

            margin-right: 0.25rem;
        }
    }

    
    
    
    
    .modalPlate{
        display: flex;
        flex-direction: column;

        width: 80%;
        max-width: 500px;

        background-color: #ffffff;
        border-radius: 2rem;
        overflow: hidden;

        box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
        margin: 2rem 0 2rem;


        

        img{
            width: 100%;
        }
        a{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 1rem 0 2.5rem;

            &:hover{
                text-decoration: none;
            }
           .btnLink{
                background-color: rgba(0,0,0,.9);
                border-radius: 0.5rem;
                padding: 1rem 2rem;

                font-size: 1.5rem;
                font-weight: bold;
                color: #ffffff;

                transition: 0.3s;
                

                &:hover{
                    background-color: #1fb9ee;
                    transition: 0.3s;
                }
           } 
        }
        .btnCloseTop{
            position: absolute;

            width: 80%;
            max-width: 500px;

            padding: 0;

            display: flex;
            justify-content: flex-end;

            padding: 1rem;
            
            img{
                width: 3.5rem;
                filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
                transition: 0.3s;

                &:hover{
                    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
                    transition: 0.3s;
                }
            }
        }
    }
}



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        margin-right: 9rem;
    }
}



.navbar.metlife .cont .navbar-brand-img {
    max-height: 2.5rem !important;
}


#main2 {

    // background-image: none !important;
    // background: linear-gradient(to bottom, transparent 16px, #424242 16px) 0 0 / 100% 17px repeat-y, linear-gradient(to right, transparent 16px, #424242 16px) 0 0 / 17px 100% repeat-x #393939 !important;
    margin: 0;
    padding: 0;
    background-color: #393939 !important; /* 어두운 배경색 */
    background-image: url('/assets/img/prime/pattern.png') !important; /* 업로드한 이미지 경로 */
    background-repeat: repeat !important; /* 이미지 반복 */
    background-size: 10%; /* 패턴 크기 (원하는 크기로 조정) */


    p{
        &.text-muted{
            color: rgba(255,255,255,0.6) !important;
            font-weight: 200;
        }
    }

    .deskTemp{
        border-bottom: none;
    }

    .index{
        margin-bottom: 0;

        .badge {
            border-radius: 32px !important;
            color: #fff;
            height: 64px;
            width: 64px;

            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15) !important;

            display: flex;
            justify-content: center;
            align-items: center;

            .h5{
                margin-bottom: 0 !important;
                text-align: center !important;
                font-size: 1.5rem !important;
            }
        }
    }


    .info {
        background-color: #252525;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2rem;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2) !important;

        padding: 3rem;
        transition: .2s;

        .list{

        }
        h2{
            color: $pointColor;
        }
        .text-muted {
            color: rgba(255,255,255,0.75) !important;
        }   
    }    
}

@media (max-width: 768px) {

    #main2 {
        .deskTemp{
            display: flex;
            justify-content: center !important;

            padding: 0 1.5rem !important;
        }
        .index{
            margin-bottom: 0.75rem;
        }
        .info {
            width: fit-content;
            border-radius: 1.5rem !important;
            padding: 1.5rem 0 1rem 0 !important;
            h2{
                p{
                    text-align: center;
                }
            }
            .list{
                margin: 0 1rem !important;

                .col-12{
                    border: 1px solid $pointColor;
                    padding: 0 !important;
                    border-radius: 0.5rem !important;
                    overflow: hidden;
    
                    label{
                        border: none;
                        border-left: 1px solid $pointColor;
                        border-radius: 0;

                        display: flex !important;
                        align-items: center !important;

                        height: 100%;
                        margin: 0 0 0 -1px;
                        padding: 0.5rem;

                        font-size: 0.75rem;
                        line-height: 1.35;
                        

                        &:first-of-type{
                            border-left: none;
                        }

                        
                            
                    }
                }

            }
        }
    }
}