@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
* {
  word-break: keep-all;
  font-family: "Pretendard";
}
* body {
  margin: 0;
}
* h1, * h2, * p, * dl, * dt, * dd {
  margin: 0;
}
* button {
  border: none;
  padding: 0;
  background-color: transparent;
}

html {
  background-color: #ECECEC;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .wrap {
    flex-direction: column;
  }
}

#ImgArea {
  background: url(./img/bg.jpg) no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-size: 840px;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}
@media (max-width: 992px) {
  #ImgArea {
    flex-direction: column;
    background-position-x: 2rem;
    background-position-y: 1.25rem;
    background-size: 140%;
    margin-top: 0rem;
  }
}

#InfoArea {
  width: 100%;
  height: 100%;
  padding: 0 6rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#InfoArea .infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  #InfoArea {
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem 0rem 0rem;
    margin-bottom: 0rem;
    background-color: transparent;
  }
}

#Title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 5rem;
}
@media (max-width: 992px) {
  #Title {
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
  }
}
#Title .upperText {
  margin-bottom: 0.75rem;
}
@media (max-width: 992px) {
  #Title .upperText {
    margin-bottom: 1rem;
  }
}
#Title .upperText p {
  font-size: 1.8rem;
}
@media (max-width: 992px) {
  #Title .upperText p {
    font-size: 1.4rem;
  }
}
#Title .upperText p span {
  font-weight: 700;
}
#Title .upperText .highlight {
  display: flex;
  margin-top: -1rem;
  margin-left: 133px;
  background-color: #9FD800;
  width: 200px;
  height: 1rem;
}
@media (max-width: 992px) {
  #Title .upperText .highlight {
    display: flex;
    margin-top: -1rem;
    margin-left: 105px;
    background-color: #9FD800;
    width: 153px;
    height: 1rem;
  }
}
#Title .logo {
  display: flex;
  align-items: center;
}
#Title .logo img {
  width: 140px;
  margin-right: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 4px 20px rgba(22, 28, 45, 0.25);
}
#Title .logo h1 {
  font-size: 6.5rem;
  font-weight: 800;
}
@media (max-width: 992px) {
  #Title .logo img {
    width: 80px;
    margin-right: 0.75rem;
    border-radius: 1rem;
  }
  #Title .logo h1 {
    font-size: 4rem;
  }
}

#Download {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 992px) {
  #Download {
    position: fixed;
    bottom: 0;
    background: linear-gradient(0deg, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    width: 84vw;
    padding: 8vw;
    padding-top: 10rem;
    padding-bottom: 3.75rem;
  }
}
#Download h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#Download h2 .bold {
  font-weight: 800;
}
@media (max-width: 992px) {
  #Download h2 {
    font-size: 1.5rem;
    margin-bottom: 0.85rem;
  }
}
#Download a {
  width: 100%;
  cursor: pointer;
}
#Download .downBtn {
  cursor: pointer;
  background-color: black;
  overflow: hidden;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  padding-left: 1rem;
  box-shadow: 0 4px 20px rgba(22, 28, 45, 0.25);
  transition: 0.2s;
}
#Download .downBtn:hover {
  transition: 0.2s;
  box-shadow: 0 8px 20px rgba(22, 28, 45, 0.45);
}
@media (max-width: 992px) {
  #Download .downBtn {
    border-radius: 0.75rem;
    padding: 0.5rem;
    padding-left: 0.75rem;
    box-shadow: 0 4px 20px rgba(22, 28, 45, 0.45);
  }
}
#Download .downBtn img {
  width: 200px;
}
@media (max-width: 992px) {
  #Download .downBtn img {
    width: 180px;
  }
}
#Download .downBtn .qrcode {
  margin-left: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Download .downBtn .qrcode img {
  width: 72px;
}
@media (max-width: 992px) {
  #Download .downBtn .qrcode {
    display: none;
  }
}
#Download .ios {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 500;
  margin-top: 0.85rem;
  font-size: 1.1rem;
}
@media (max-width: 992px) {
  #Download .ios {
    margin-top: 0.85rem;
    font-size: 1.1rem;
  }
}

.copyright {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.55rem;
}
@media (max-width: 992px) {
  .copyright {
    left: 50%;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=index.css.map */