
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

$brand: #9FD800;

*{
    word-break: keep-all;
    font-family: 'Pretendard';
    body{
        margin: 0;
    }
    h1,h2,p,dl,dt,dd{
        margin: 0;
    }
    button{
        border: none;
        padding: 0;
        background-color: transparent;
    }
}


html{
    background-color: #ECECEC;
}


body{
    overflow: hidden;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.wrap{
    width: 100%;
    height: 100%;

    display: flex; 
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}

#ImgArea{
    background: url(./img/bg.jpg) no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 840px;

    width: 100%;
    height: 100%;

    //max-width: 840px;
    margin-top: 2rem;

    @media (max-width: 992px) {
        flex-direction: column;

        background-position-x: 2rem;
        background-position-y: 2.25rem;
        background-size: 130%;

        margin-top: 1.5rem;
    }
}
#InfoArea{
    width: 100%;
    height: 100%;
    padding: 0 6rem;

    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;



    .infoWrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    @media (max-width: 992px) {
        align-items: center;
        height: fit-content;
        padding: 3rem 0rem 0rem;
        margin-bottom: 0rem;

        background-color: transparent;
    }
}

#Title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0 1rem;
    margin-bottom: 5rem;

    @media (max-width: 992px) {
        padding: 0 0.5rem;
        margin-bottom: 1.5rem;
    }
    .upperText{
        margin-bottom: 0.75rem;
        @media (max-width: 992px) {
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.8rem;
            @media (max-width: 992px) {
                font-size: 1.4rem;
            }
            span{
                font-weight: 700;
            }
        }
        .highlight{
            display: flex;
            margin-top: -1rem;
            margin-left: 133px;
            background-color: #9FD800;
            width: 200px;
            height: 1rem;

            @media (max-width: 992px) {
                display: flex;
                margin-top: -1rem;
                margin-left: 105px;
                background-color: #9FD800;
                width: 153px;
                height: 1rem;
            }
        }
    }
    .logo{
        display: flex;
        //justify-content: center;
        align-items: center;
        img{
            width: 140px;
            //height: 200px;
            margin-right: 1.5rem;
        }
        h1{
            font-size: 6.5rem;
            font-weight: 800;
        }

        @media (max-width: 992px) {
            img{
                width: 80px;
                margin-right: 0.75rem;
            }
            h1{
                font-size: 4rem;
            }
        }
    }
}

#Download{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    width: 100%;

    @media (max-width: 992px) {

    }

    h2{
        font-size: 2.5rem;
        font-weight: 500;
        .bold{
            font-weight: 800;
        }

        margin-bottom: 0.5rem;

        @media (max-width: 992px) {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }

    a{
        width: 100%;
        cursor: pointer;
    }
    .downBtn{
        cursor: pointer;
        
        background-color: black;
        overflow: hidden;
        border-radius: 1.25rem;


        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 0.75rem;
        padding-left: 1rem;


        box-shadow: 0 4px 20px rgba(22,28,45,0.25);
        transition: 0.2s;

        &:hover{
            transition: 0.2s;
            box-shadow: 0 8px 20px rgba(22,28,45,0.45);
        }
        @media (max-width: 992px) {
            border-radius: 0.75rem;
            padding: 0.5rem;
            padding-left: 0.75rem;
            
        }

        img{
            width: 200px;
            @media (max-width: 992px) {
                width: 180px;
            }
        }
        .qrcode{
            margin-left: 1rem;

            background-color: #ffffff;
            border-radius: 0.5rem;
            padding: 0.35rem;

            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 72px;
            }

            @media (max-width: 992px) {
                display: none;
                img{

                }
            }
        }
    }
}


.copyright{
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    color: rgba(0,0,0,0.5);
    font-size: 0.55rem;
}