// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


// $pointColor: #a0d702;
// $bgColor: #393939;
// $bg2Color: #393939;

// *{
//     font-family: 'Pretendard' !important;
// }

.bg-dark {
    // background-color: #272727 !important;
}


body{
    background-color: #e9ebee;
    // color: #ffffff;
}



#Contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container_pc{
        max-width: 640px;
        padding: 0;
        .container_mo{
            padding: 0;
            img{
                width: 100%;
            }
        }
    }
}

#Action{
    position: fixed;
    z-index: 100;
    bottom: 0;
    

    display: flex;
    justify-content: center;
    padding: 1.5rem 0.5rem;
    width: 100%;

    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));


    .btn{
        width: 100%;

        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 1rem;

        padding: 1.2rem 2rem;


        background-color: black;
        box-shadow: (0px 2px 2px rgba(0, 0, 0, 0.25));
    }
}


#List{
    background-color: #ffffff;
    ul{
        padding: 0;
        li{
            list-style: none;
            text-align: center;

            font-size: 2rem;
            padding-bottom: 0.5rem;
        }
    }
}


// @media (min-width: 640px) {
//     .container_pc {
//         margin-left: 12%;
//         margin-right: 12%;
//     }
// }

// @media (min-width: 960px) {
//     .container_pc {
//         margin-left: 24%;
//         margin-right: 24%;
//     }
// }

// @media (min-width: 1200px) {
//     .container_pc {
//         margin-left: 30%;
//         margin-right: 30%;
//     }
// }

// @media (min-width: 1440px) {
//     .container_pc {
//         margin-left: 34%;
//         margin-right: 34%;
//     }
// }